[submodule "axi_sva/yosys"]
	path = axi_sva/yosys
	url = git@github.com:KastnerRG/yosys-SVA-AXI4_FVIP.git
[submodule "soc-testbed"]
	path = soc-testbed
	url = git@github.com:KastnerRG/soc-testbed.git
